RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME}%  !-d
RewriteCond %{REQUEST_FILENAME}%  !-f

# Do not route static files in the public directory
RewriteRule \.(js|css|svg|gif|jpg|jpeg|png)$ - [L]

# Route everything else to index.php in the public directory
RewriteRule ^(.*)$ public/index.php [QSA,L]
